@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
}